#Folders to keep hidden
#Data/*
Gina/*
Output/*
Data/mg_ghsoil*

#Markdown
*.html
MG_Microbe.Rmd
MG_Microbe_cache/*
MG_Microbe_files/*

#FROM GITIGNORE R TEMPLATE
# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

.DS_Store

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
